@import '../styles.scss';

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

.mat-toolbar {
  background: linear-gradient(to bottom, #333333,#03b881) !important;
  justify-content: center;
  font-family: $header-font-family;
}

.app-sidenav {
  margin: 1em;
  border: outset;
  border-radius: 25px;
}

.main-content {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.app-sidenav-container {
  flex: 1;
}

.main-panel {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.menu-spacer {
  flex: 1 1 auto;
}