<footer class="page-footer">  
 
  <div class="footer-wrapper">
    <div class="footer-block">
      <a routerLink="../privacy-policy">Privacy Policy</a>
      <a routerLink="../terms-and-conditions">Terms and Conditions</a>
      <a routerLink="../cookies-policy">Cookies Policy</a>     
    </div>
  
    <div class="footer-block">
        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <p class="pt-2">
            <a routerLink="../contact-form">Contact Form</a>
        </p>
        <p>
            xcore.web.development@gmail.com
        </p>
    </div>
  </div>

  <div class="footer-copyright">
    © 2021 Copyright: <a href="https://x-coreweb.com"> X-Coreweb.com</a>
  </div>
</footer>
