.lunada-gradient {
  background-image: #5433ff; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to bottom, #5433ff, #20bdff, #a5fecb); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to bottom, #5433ff, #20bdff, #a5fecb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bupe-gradient {
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #00416a, #e4e5e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #00416a, #e4e5e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.windy-gradient {
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #acb6e5, #86fde8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #acb6e5, #86fde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.royal-blue-gradient {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #536976, #292e49); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #536976, #292e49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.anamnisar-gradient {
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sky-gradient {
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #076585, #fff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #076585, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skyline-gradient {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dimigo-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ec008c, #fc6767); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.purple-love-gradient {
  background: #cc2b5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cc2b5e, #753a88); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cc2b5e, #753a88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sexy-blue-gradient {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blooker-gradient {
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e65c00, #f9d423); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e65c00, #f9d423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hazel-gradient {
  background: #77a1d3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #77a1d3, #79cbca, #e684ae); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #77a1d3, #79cbca, #e684ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.noon-to-dusk-gradient {
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff6e7f, #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.harmonic-energy-gradient {
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #16a085, #f4d03f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #16a085, #f4d03f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intuitive-purple-gradient {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #da22ff, #9733ee); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #da22ff, #9733ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.emerald-water-gradient {
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lemon-twist-gradient {
  background: #3CA55C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.monte-carlo-gradient {
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.horizon-gradient {
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #003973, #e5e5be); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #003973, #e5e5be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rose-water-gradient {
  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.frozen-gradient {
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aubergine-gradient {
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aqua-marine-gradient {
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sunrise-gradient {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.purple-paradise-gradient {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.electric-violet-gradient {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.terminal-gradient {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.very-blue-gradient {
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.love-and-liberty-gradient {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cosmic-fusion-gradient {
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deep-space-gradient {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titanium-gradient {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mystic-gradient {
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shroom-haze-gradient {
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vanusa-gradient {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shadow-night-gradient {
    background: #53346D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #53346D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.crystal-clear-gradient {
    background: #155799;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #159957, #155799);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dracula-gradient {
    background: #4A569D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DC2424, #4A569D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DC2424, #4A569D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.summer-gradient {
    background: #fdbb2d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #22c1c3, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.man-of-steel-gradient {
    background: #061161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #780206, #061161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #780206, #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.very-blue-gradient {
    background: #0575e6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021b79, #0575e6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.pomegranate-gradient {
    background: #ff396f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9b3cb7, #ff396f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9b3cb7, #ff396f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.witching-hour-gradient {
  background: #240b36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c31432, #240b36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.ibiza-sunset-gradient {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.flickr-gradient {
  background: #33001b;
  background: -webkit-linear-gradient(to bottom, #ff0084, #33001b);
  background: linear-gradient(to bottom, #ff0084, #33001b);
}

.twitch-gradient {
  background: #2a0845;
  background: -webkit-linear-gradient(to bottom, #6441a5, #2a0845);
  background: linear-gradient(to bottom, #6441a5, #2a0845);
}

.liquid-gradient {
  background: #fdbb2d;
  background: -webkit-linear-gradient(to bottom, #6f0000, #fdbb2d);
  background: linear-gradient(to bottom, #6f0000, #fdbb2d);
}