$xcore-primary: (
  50 : #e3f6f7,
  100 : #b8e9eb,
  200 : #89dbde,
  300 : #5accd1,
  400 : #36c1c7,
  500 : #13b6bd,
  600 : #11afb7,
  700 : #0ea6ae,
  800 : #0b9ea6,
  900 : #068e98,
  A100 : #c4faff,
  A200 : #91f6ff,
  A400 : #5ef2ff,
  A700 : #45f0ff,
  contrast: (
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  )
);

$xcore-accent: (
  50 : #e2f8f4,
  100 : #b7ede3,
  200 : #87e1d1,
  300 : #57d5bf,
  400 : #33ccb1,
  500 : #0fc3a3,
  600 : #0dbd9b,
  700 : #0bb591,
  800 : #08ae88,
  900 : #04a177,
  A100 : #cbffef,
  A200 : #98ffe0,
  A400 : #65ffd1,
  A700 : #4cffc9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-sun: (
  50:  #fff7e6,
  100: #feebc0,
  200: #fedd96,
  300: #fecf6c,
  400: #fdc54d,
  500: #fdbb2d,
  600: #fdb528,
  700: #fcac22,
  800: #fca41c,
  900: #fc9611,
  A100: #ffffff,
  A200: #fffaf5,
  A400: #ffe2c2,
  A700: #ffd6a8,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-light-red: (
  50: #f9e6ec,
  100: #f0bfcf,
  200: #e695af,
  300: #db6b8e,
  400: #d44b76,
  500: #cc2b5e,
  600: #c72656,
  700: #c0204c,
  800: #b91a42,
  900: #ad1031,
  A100: #ffdde3,
  A200: #ffaab9,
  A400: #ff778f,
  A700: #ff5d79,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-pomegranate: (
  50:  #ffe7ee,
  100: #ffc4d4,
  200: #ff9cb7,
  300: #ff749a,
  400: #ff5785,
  500: #ff396f,
  600: #ff3367,
  700: #ff2c5c,
  800: #ff2452,
  900: #ff1740,
  A100: #ffffff,
  A200: #fffcfd,
  A400: #ffc9d1,
  A700: #ffb0bc,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-red: (
    50: #f8e3e6,
    100: #edb9c2,
    200: #e18a99,
    300: #d55b70,
    400: #cc3751,
    500: #c31432,
    600: #bd122d,
    700: #b50e26,
    800: #ae0b1f,
    900: #a10613,
    A100: #ffcccf,
    A200: #ff999e,
    A400: #ff666e,
    A700: #ff4d56,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
);

$xcore-dark-red: (
  50: #efe1e1,
  100: #d7b3b4,
  200: #bc8183,
  300: #a14e51,
  400: #8c282b,
  500: #780206,
  600: #700205,
  700: #650104,
  800: #5b0103,
  900: #480102,
  A100: #ff7c7c,
  A200: #ff4949,
  A400: #ff1616,
  A700: #fc0000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-pink: (
  50: #fde1ef,
  100: #fab5d7,
  200: #f784bc,
  300: #f353a1,
  400: #f12e8d,
  500: #ee0979,
  600: #ec0871,
  700: #e90666,
  800: #e7055c,
  900: #e20249,
  A100: #ffffff,
  A200: #ffd6e1,
  A400: #ffa3bb,
  A700: #ff8aa8,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-bright-pink: (
  50: #ffe0f0,
  100: #ffb3da,
  200: #ff80c2,
  300: #ff4da9,
  400: #ff2696,
  500: #ff0084,
  600: #ff007c,
  700: #ff0071,
  800: #ff0067,
  900: #ff0054,
  A100: #ffffff,
  A200: #fff2f6,
  A400: #ffbfd0,
  A700: #ffa6be,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-dark-orange: (
  50: #fbe5e5,
  100: #f5bdbd,
  200: #ee9292,
  300: #e76666,
  400: #e14545,
  500: #dc2424,
  600: #d82020,
  700: #d31b1b,
  800: #ce1616,
  900: #c50d0d,
  A100: #fff1f1,
  A200: #ffbebe,
  A400: #ff8b8b,
  A700: #ff7272,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


$xcore-orange: (
  50: #ffede0,
  100: #ffd2b3,
  200: #ffb580,
  300: #ff974d,
  400: #ff8026,
  500: #ff6a00,
  600: #ff6200,
  700: #ff5700,
  800: #ff4d00,
  900: #ff3c00,
  A100: #ffffff,
  A200: #fff4f2,
  A400: #ffcabf,
  A700: #ffb5a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-midnight: (
    50: #e5e2e7,
    100: #bdb6c3,
    200: #92859b,
    300: #665472,
    400: #453054,
    500: #240b36,
    600: #200a30,
    700: #1b0829,
    800: #160622,
    900: #0d0316,
    A100: #a356ff,
    A200: #8723ff,
    A400: #6d00ef,
    A700: #6100d5,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
);

$xcore-shadow-night: (
  50: #eae7ed,
  100: #cbc2d3,
  200: #a99ab6,
  300: #877199,
  400: #6d5283,
  500: #53346d,
  600: #4c2f65,
  700: #42275a,
  800: #392150,
  900: #29153e,
  A100: #ba7cff,
  A200: #9f49ff,
  A400: #8416ff,
  A700: #7700fc,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-violet: (
  50:  #e6e6f6,
  100: #bfc2e8,
  200: #9599d9,
  300: #6b70c9,
  400: #4b51be,
  500: #2b32b2,
  600: #262dab,
  700: #2026a2,
  800: #1a1f99,
  900: #10138a,
  A100: #bcbdff,
  A200: #898bff,
  A400: #5659ff,
  A700: #3c40ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-gray: (
  50: #e5eaed,
  100: #b8c6cd,
  200: #97abb6,
  300: #6e8999,
  400: #607988,
  500: #536976,
  600: #465964,
  700: #3a4952,
  800: #2d3940,
  900: #20292e,
  A100: #d7e7f1,
  A200: #8cbbd6,
  A400: #5588a7,
  A700: #58788b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-windy: (
  50: #e4f8f8,
  100: #bdeced,
  200: #91e0e1,
  300: #64d4d5,
  400: #43cacc,
  500: #22c1c3,
  600: #1ebbbd,
  700: #19b3b5,
  800: #14abae,
  900: #0c9ea1,
  A100: #cffeff,
  A200: #9cfdff,
  A400: #69fcff,
  A700: #4ffbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-light-blue: (
  50: #e3f1f9,
  100: #b9dbf0,
  200: #8ac4e6,
  300: #5bacdb,
  400: #379ad4,
  500: #1488cc,
  600: #1280c7,
  700: #0e75c0,
  800: #0b6bb9,
  900: #0658ad,
  A100: #d8e9ff,
  A200: #a5ccff,
  A400: #72b0ff,
  A700: #59a1ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-purple-love: (
  50:  #eee7f1,
  100: #d6c4db,
  200: #ba9dc4,
  300: #9e75ac,
  400: #8a589a,
  500: #753a88,
  600: #6d3480,
  700: #622c75,
  800: #58256b,
  900: #451858,
  A100: #dd95ff,
  A200: #cc62ff,
  A400: #bc2fff,
  A700: #b415ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-royal-blue: (
  50: #abb1d0,
  100: #7a83b4,
  200: #59639e,
  300: #3f4770,
  400: #343a5d,
  500: #292e49,
  600: #1e2235,
  700: #131522,
  800: #08090e,
  900: #000000,
  A100: #909ce1,
  A200: #3f55cc,
  A400: #2f3a76,
  A700: #2f365d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-dark-blue: (
  50: #e4f8f8,
  100: #e4f8f8,
  200: #818dbc,
  300: #4e5fa1,
  400: #283d8d,
  500: #021b79,
  600: #021871,
  700: #011466,
  800: #01105c,
  900: #010849,
  A100: #7d81ff,
  A200: #4a50ff,
  A400: #171fff,
  A700: #0009fc,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-blue-accent: (
  50:  #e1eefc,
  100: #b4d6f8,
  200: #82baf3,
  300: #509eee,
  400: #2b8aea,
  500: #0575e6,
  600: #046de3,
  700: #0462df,
  800: #0358db,
  900: #0145d5,
  A100: #fcfdff,
  A200: #c9d7ff,
  A400: #96b1ff,
  A700: #7d9eff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-light-purple: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #dbdff4,
    400: #c3caec,
    500: #acb6e5,
    600: #95a1de,
    700: #7d8dd6,
    800: #6678cf,
    900: #4f64c8,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ced5f6,
    A700: #bdc6ed,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
);

$xcore-purple: (
  50: #ece8f4,
  100: #d1c6e4,
  200: #b2a0d2,
  300: #937ac0,
  400: #7b5eb3,
  500: #6441a5,
  600: #5c3b9d,
  700: #523293,
  800: #482a8a,
  900: #361c79,
  A100: #c7b4ff,
  A200: #a181ff,
  A400: #7b4eff,
  A700: #6835ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-dark-purple: (
  50: #e5e1e9,
  100: #bfb5c7,
  200: #9584a2,
  300: #6a527d,
  400: #4a2d61,
  500: #2a0845,
  600: #25073e,
  700: #1f0636,
  800: #19042e,
  900: #0f021f,
  A100: #925cff,
  A200: #7029ff,
  A400: #5200f5,
  A700: #4900db,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-green: (
  50: #e2f3e2,
  100: #b7e1b7,
  200: #87cd87,
  300: #57b957,
  400: #33aa33,
  500: #0f9b0f,
  600: #0d930d,
  700: #0b890b,
  800: #087f08,
  900: #046d04,
  A100: #9cff9c,
  A200: #69ff69,
  A400: #36ff36,
  A700: #1dff1d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-light-green: (
  50: #e3f3eb,
  100: #b9e0cd,
  200: #8accab,
  300: #5bb889,
  400: #38a870,
  500: #159957,
  600: #12914f,
  700: #0f8646,
  800: #0c7c3c,
  900: #066b2c,
  A100: #9bffba,
  A200: #68ff97,
  A400: #35ff73,
  A700: #1bff62,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-light-gray: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #f4f4f5,
  500: #e4e5e6,
  600: #d4d6d7,
  700: #c4c6c9,
  800: #b4b7ba,
  900: #a4a8ab,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fefeff,
  A700: #f1f2f3,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-black: (
  50:  #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$xcore-deep-space: (
  50: #e8e8e8,
  100: #c7c7c7,
  200: #a1a1a1,
  300: #7b7b7b,
  400: #5f5f5f,
  500: #434343,
  600: #3d3d3d,
  700: #343434,
  800: #2c2c2c,
  900: #1e1e1e,
  A100: #f07878,
  A200: #eb4a4a,
  A400: #ff0303,
  A700: #e90000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);